.inputs{
    font-family: 'koulen', cursive;
    font-weight: 200;
    height: 15px;
    color: #000;
    width: 150px;
    background: #000;
    margin-bottom: 5px;
    margin: 5px;
    letter-spacing: 1px;
    
}

.button{
    font-family: 'koulen', cursive;
    font-weight: 400;
    background: #277DA1;
    mix-blend-mode: multiply;
    color: #F9C74F;
    margin: 7px;
    letter-spacing: 2px;
    cursor: pointer;
    
}